<link rel="stylesheet" href="../../public/css/student_portal.css" />
<style>
  .ElementS {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    border-radius: 1em;
    padding-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    background-color: var(--sfTileBackground);
    border: 2px solid var(--sfTileBorder);
  }
</style>
<div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
  <div
    class="ElementS"
    style="height: 150px; background-color: var(--sfTileBackground);"
  >
    <h3 style="align-self: center;">ATTENDANCE</h3>
    <table style="width: 70%; color: var(--sfTileBorder);">
      <tbody>
        <% for (let i = 0; i < studentAttendance.length; i++) { %>
        <tr>
          <td><%=attendanceSubjects%></td>
          <td>
            <%=studentAttendance[i]%> / <%=facultyAttendance[i]%>
            (<%=studentAttendance[i]/facultyAttendance[i]*100%>%)
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div
    class="ElementS"
    style="background-color: var(--sfTileBackground);"
  >
    <h3 style="align-self: center;">GRADES</h3>
    <table style="width: 70%; color: var(--sfTileBorder);">
      <tbody>
        <% for (var i = 0; i < studentTGrades.length; i++) { %> <% for (term in
        studentTGrades[i]) { %>
        <tr>
          <td><%=gradesTSubjects[i]%></td>
          <td><%=term%></td>
          <td>
            <%=studentTGrades[i][term]%> / <%=maxTGrades[i][term]%>
            (<%=studentTGrades[i][term]/maxTGrades[i][term]*100%>%)
          </td>
        </tr>
        <% } %> <% } %> <% for (let j = 0; j < studentLGrades.length; j++) { %>
        <% for (term in studentLGrades[j]) { %>
        <tr>
          <td><%=gradesLSubjects[j]%></td>
          <td><%=term%></td>
          <td>
            <%=studentLGrades[j][term]%> / <%=maxLGrades[j][term]%>
            (<%=studentLGrades[j][term]/maxLGrades[j][term]*100%>%)
          </td>
        </tr>
        <% } %> <% } %>
      </tbody>
    </table>
  </div>
</div>
