<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Edit</title>
  </head>

  <body style="color: white;">
    <!-- Faculty Id -->
    <p>Faculty Id: <%=faculty_id%></p>
    <!-- Other Info -->
    <form action="./faculty" method="POST">
      <label for="f_name">
        First Name:
        <input type="text" value="<%=f_name%>" name="f_name" required />
      </label>
      <label for="m_name">
        Middle Name:
        <input type="text" value="<%=m_name%>" name="m_name" required />
      </label>
      <label for="l_name">
        Last Name:
        <input type="text" value="<%=l_name%>" name="l_name" required />
      </label>
      <label for="gender">
        Gender: <input type="text" value="<%=gender%>" name="gender" required />
      </label>
      <label for="dob">
        Date of Birth:
        <input type="text" value="<%=dob%>" name="dob" required />
      </label>
      <label for="room">
        Room: <input type="text" value="<%=room%>" name="room" required />
      </label>
      <label for="phone">
        Phone: <input type="text" value="<%=phone%>" name="phone" required />
      </label>
      <label for="email">
        E-Mail: <input type="text" value="<%=email%>" name="email" required />
      </label>
      <label for="post">
        Post: <input type="text" value="<%=post%>" name="post" required />
      </label>
      <label for="branch_id">
        Branch Id:
        <input type="text" value="<%=branch_id%>" name="branch_id" required />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
